@charset "UTF-8";

// 1. Import Fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// 2. Base stuff
@import "base/base";


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250,250,250);
}
.main{
  margin-top: 5vh;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  div{
    margin-left: auto;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}


