.card{
    background-color: #181212;
    height: 29rem;
    width: 29rem;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    color: #8e8e8e;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}