.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  width: 93.5rem;
  height: 5.3rem;
  overflow: hidden;

  ul {
    margin: 0;
    height: 5.3rem;
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    width: 4.2vw;
    cursor: pointer;
    display: flex;

    a {
      margin-left: 0.8rem;
      color: #8e8e8e;
      text-decoration: none;
    }
  }
  .active {
    color: #181818;
  }
}
