.navigation{
    display: flex;
    height: 5.3rem;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;

    ul{
        display: flex;
        width: 20vw;
        justify-content:space-around;
    }

    li {
        width: 4.2vw;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .active{
        color: #181818;
    }
}